@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
   --header-black: #2c2c2c;
   --header-input-black: #3b3b3b;
   --task-button-black: #494949;
   --background-black: #1d1d1d;

   --light-blue: #4dd5ff;
   --hover-blue: #77dfff;

   --trash-red: #ff3232;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--background-black);
   font-family: 'Inter', sans-serif;
}

button {
   &:hover {
      cursor: pointer;
   }
}